<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body>
	<div style="width: 30%; margin-left: 35%; margin-top: 80px">
			<div class="form-group">
				<label for="name">Username</label> <input type="text"
					class="form-control" th:value="${account.username}" required
					name="username" disabled="true">
			</div>
			<div class="form-group">
				<label for="name">Password</label> <input type="text"
					class="form-control" th:value="${account.password}"
					required name="password" />
			</div>
			<button type="submit" class="btn btn-success">Submit</button>
			<a th:href="@{/account}" class="btn btn-success"
				style="margin-left: 50px">Cancel</a>
		</form>
	</div>
</body>